<%= render 'layouts/header' %>

<%= render 'conversations/conversation_sidebar' %>

<main id="main">
  <div id="main-nano-wrapper" class="nano">
    <div class="nano-content">
      <%= render 'messages/message_reply' %>
    </div>
  </div>
</main>