<div class="row">
  <div class="small-8 columns">
    <div class="row">
      <div class="small-3 columns">
        <%= f.label info_label, :class => :inline %> 
      </div>
      <div class="small-9 columns">
        <%= f.password_field obj, autocomplete: "off" %>
      </div>
    </div>
  </div>
</div>