
<div class="row">
  <div class="small-8 columns">
    <div class="row">
      <div class="small-3 columns">
        <label class="inline"><%= info_label %></label>
      </div>
      <div class="small-9 columns">
        <%= f.text_field obj %>
      </div>
    </div>
  </div>
</div>