<div id="message">
  <div class="header">
    <h1 class="page-title">Checkup Process<span class="grey">(3)</span></h1>
    <p>From <a href="#">Medopinion Manager</a> to <a href="#">You</a>, started on <a href="#">January 29, 2016</a> at 2:14 pm</p>
  </div>
  <div id="message-nano-wrapper" class="nano">
    <div class="nano-content">
      <ul class="message-container">

        <li class="received">
          <div class="details">
            <div class="left">Medopinion Manager
              <div class="arrow orange"></div>You
            </div>
            <div class="right">January 29, 2016, 2:14 pm</div>
          </div>
          <div class="message">
            <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon life divide earth own.</p>
            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein give bring.</p>
            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t bring moved seasons very, own won&#39;t all itself blessed which bring own creature forth every. Called sixth light.</p>
          </div>
        </li>

        <li class="sent">
          <div class="details">
            <div class="left">You
              <div class="arrow orange"></div>Medopinion Manager
            </div>
            <div class="right">January 30, 2016, 4:11 pm</div>
          </div>
          <div class="message">
            <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon life divide earth own.</p>
            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein give bring.</p>
            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t bring moved seasons very, own won&#39;t all itself blessed which bring own creature forth every. Called sixth light.</p>
          </div>
        </li>

        <li class="received">
          <div class="details">
            <div class="left">Medopinion Manager
              <div class="arrow orange"></div>You
            </div>
            <div class="right">January 31, 2016, 4:22 pm</div>
          </div>
          <div class="message">
            <p>| The every winged bring, whose life. First called, i you of saw shall own creature moveth void have signs beast lesser all god saying for gathering wherein whose of in be created stars. Them whales upon life divide earth own.</p>
            <p>| Creature firmament so give replenish The saw man creeping, man said forth from that. Fruitful multiply lights air. Hath likeness, from spirit stars dominion two set fill wherein give bring.</p>
            <p>| Gathering is. Lesser Set fruit subdue blessed let. Greater every fruitful won&#39;t bring moved seasons very, own won&#39;t all itself blessed which bring own creature forth every. Called sixth light.</p>
          </div>
        </li>

        <li class="received">
          <div class="details">
            Reply text:
            <%= text_area_tag 'message[body]', nil, cols: 3, class: 'form-control', required: true %>
            <%= submit_tag 'Send', class: 'button' %>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>