<div class="row">
  <div class="large-12 columns">

    <dl class="sub-nav">

      <dt>Modules:</dt>

      <%= client_call_backs_sub_nav_link %>

      <%= doctor_module_sub_nav_link %>

      <%= cases_module_sub_nav_link %>

    </dl>

  </div>
</div>