<% if medical_situation.inPool %>
    <span class="heading"><%= t('price') %></span> <span> <%= medical_situation.price %> $ </span>
    <% if medical_situation.doctor.present? %>
      <span class="heading"><%= t('assigned_doctor') %> </span> <span><%= medical_situation.doctor.name %></span>
    <% end %>
<% end %>