<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>New Doctor Callback from <%= @callback.name %>, <%= @callback.email %> </h1>
    <p>Please, see the attached resume.</p>
  </body>
</html>