<!-- partial for text fields with label
usage: render 'text_field', { form_builder: f, obj: :name, form_label: t('personal_details.phone') }
-->
<div class="row collapse prefix-radius">
    <div class="small-3 columns">
            <span class="prefix">
                 <%= form_label %>
            </span>
    </div>
    <div class="small-9 columns">
        <%= form_builder.text_field obj, { placeholder: form_placeholder, class: 'input-field' }%>
    </div>
</div>