// dont touch these
@import "foundation_and_overrides";
@import "font-awesome"; // dont delete it, it is correct!!!

@import "conversations";
@import "authorization";
@import "landing_page";

@import "clients";
@import "profile";
@import "patients";

.fl {
  float:left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
li {
  list-style: none;
}
.container {
  width:90%;
  margin: 0 auto;
}
table td {
  min-width: 150px;
}
.form {
  width: 50%;
  margin: 20px auto;
  padding:20px;
}
.form-wide {
  width:90%;
  margin:20px auto;
  padding:20px;
}
.float-right {
  float: right;
}

// classes for text color
.alert {
  color: $alert-color;
}
// error message classes
.error-message {
  margin:5px;
}
.field_with_errors {
  .input-field {
    color: $alert-color;
    border-color: $alert-color;
  }
}

.hidden {
  display: none;
}

.input-field {
  border: solid 1px #CCC;
  border-top-color: #DDD;
  border-bottom-color: #BBB;
  border-radius: 3px;

}
// styles for error messages in input filds
.error-input-field {
  border-color: $alert-color !important;
  opacity: .8;
}
.error-input-field::-webkit-input-placeholder {
  color: $alert-color;
}

.error-input-field:-moz-placeholder { /* Firefox 18- */
  color: $alert-color;
}

.error-input-field::-moz-placeholder {  /* Firefox 19+ */
  color: $alert-color;
}

.error-input-field:-ms-input-placeholder {
  color: $alert-color;
}