// dont touch these
/*
@import "../../../vendor/**";
*/

@import "foundation_and_overrides";
@import "font-awesome";

@import "conversations";
@import "authorization";
@import "landing_page";
@import "clients";
@import "profile";
@import "patients";
@import "medical_situations";
@import "select2";
@import "doctors";

.grey {
  color: $aluminum;
}
.alert {
  color: $alert-color;
}

.fl {
  float:left;
}
.fr {
  float: right;
}
.clear {
  clear: both;
}
ul {
  margin-left: 0 ;
}
li {
  list-style: none;
}
.container {
  width:90%;
  margin: 0 auto;
}
table {
  width:100%;
}
table td {
  min-width: 150px;
}
.form {
  margin: 20px;
  padding:20px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}
.sub-nav {
  padding:20px;
  margin:20px 0;
  background-color: $smoke;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
}
.form-wide {
  width:90%;
  margin:20px auto;
  padding:20px;
}
.float-right {
  float: right;
}
.button {
  &:active {
    position: relative;
    top:-1px;
  }
}
.module-menu {
  margin-top: 20px;
}
// classes for text color
.alert {
  color: $alert-color;
}
// error message classes
.error-message {
  margin:5px;
}
.field_with_errors {
  .input-field {
    color: $alert-color;
    border-color: $alert-color;
  }
}

.hide {
  display: none !important;
}

.input-field {
  border: solid 1px #CCC;
  border-top-color: #DDD;
  border-bottom-color: #BBB;
  border-radius: 3px;

}
.links {
  margin-bottom: 10px;
}

// styles for error messages in input fields
.error-input-field {
  border-color: $alert-color !important;
  opacity: .8;
}
.error-input-field::-webkit-input-placeholder {
  color: $alert-color;
}

.error-input-field:-moz-placeholder { /* Firefox 18- */
  color: $alert-color;
}

.error-input-field::-moz-placeholder {  /* Firefox 19+ */
  color: $alert-color;
}

.error-input-field:-ms-input-placeholder {
  color: $alert-color;
}