/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides
 */

@import "foundation";

// classes for text color
.alert {
  color: $alert-color;
}


.hidden {
  display: none;
}

.input-field {
  border: solid 1px #CCC;
  border-top-color: #DDD;
  border-bottom-color: #BBB;
  border-radius: 3px;

}
.error-input-field {
  border-color: $alert-color !important;
  opacity: .8;
}
.error-input-field::-webkit-input-placeholder {
  color: $alert-color;
}

.error-input-field:-moz-placeholder { /* Firefox 18- */
  color: $alert-color;
}

.error-input-field::-moz-placeholder {  /* Firefox 19+ */
  color: $alert-color;
}

.error-input-field:-ms-input-placeholder {
  color: $alert-color;
}