@import "foundation_and_overrides";

@import "authorization";
@import "landing_page";
@import "clients";

.container {
  width:90%;
  margin: 0 auto;
}
table td {
  min-width: 150px;
}

// classes for text color
.alert {
  color: $alert-color;
}
// error message classes
.error-message {
  margin:5px;
}

.hidden {
  display: none;
}

.input-field {
  border: solid 1px #CCC;
  border-top-color: #DDD;
  border-bottom-color: #BBB;
  border-radius: 3px;

}
.error-input-field {
  border-color: $alert-color !important;
  opacity: .8;
}
.error-input-field::-webkit-input-placeholder {
  color: $alert-color;
}

.error-input-field:-moz-placeholder { /* Firefox 18- */
  color: $alert-color;
}

.error-input-field::-moz-placeholder {  /* Firefox 19+ */
  color: $alert-color;
}

.error-input-field:-ms-input-placeholder {
  color: $alert-color;
}