// Place all the styles related to the patients controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.medical_situation {
  background-color: $info-color;
  margin-left: 30px !important;
  margin-bottom: 25px !important;
  padding:15px;
  border-radius: 5px;
}