$border-color: $iron;

.section {

}
.profile {
  padding: 30px;
  border-bottom: 1px solid $border-color;
}
.profile-info {
  color: $jet;
  li {
    list-style: none;
  }
}

.medical-history {
  border-right: 1px solid $border-color;
}

.headings {
  border-bottom: 3px solid $warning-color;
}
