<% if object.errors.any? %>
    <div data-alert class="alert-box radius alert">
      <ul>
        <% object.errors.full_messages.each do |message| %>
            <li><%= message %></li>
        <% end %>
      </ul>
    </div>

<% end %>