<!--
Use this for notice message showed via js, for flash messages use messages.html.erb
-->
<div data-alert class="alert-box success radius">
  <%= message %>
  <a href="#" class="close">&times;</a>
</div>